<div>
    <h2>Contact us :</h2>
    <p><h3>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;mail us here: webtechproject@gmail.com</h3><br>
        <h3>&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;follow us on social media :)</h3>
    <h3><a href="https://www.instagram.com" target="_blank">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Instagram</a><br>
    <a href="https://www.facebook.com" target="_blank">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Facebook</a><br>
    <a href="https://www.twitter.com" target="_blank">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Twitter</a><br>
    <a href="https://www.linkedin.com" target="_blank">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;LinkedIn</a></h3>
    </p>
</div>
<div><h4 style="text-align:center;">
    help us to serve you better !<br>
    give us your feedback <a href="/feedback">click here</a>
    </h4>
</div>
